@font-face {
    font-family: Zen-Maru-Gothic;
    src: url(./Assets/Zen_Maru_Gothic/ZenMaruGothic-Regular.ttf);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: rgb(180, 180, 180);
    font-family: Zen-Maru-Gothic;
    padding: 0;
}

header {
    display: flex;
    font-size: 36px;
    background-color: rgb(56, 62, 133);
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0.6em 2em 0.6em 0.6em;
}

#book-button {
    font-family: Zen-Maru-Gothic;
    background-color:rgb(56, 62, 133);
    border-color: white;
    border-width: 5px;
    border-style:solid;
    border-radius: 1em;
    padding: 1em;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 14px;
}

#book-button:hover {
    background-color: rgb(76, 81, 132);
}

footer {
    background-color: rgb(56, 62, 133);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

footer p {
    color: white;
}

footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

footer a:hover {
    color: rgb(87, 115, 166);
}

#grid-area {
    display: grid;
    grid-auto-flow: row;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.1fr));
    padding: 4em 1em 1em 2.4em;
}


.card {
    background-color: white;
    height: 300px;
    border-color: rgb(71, 77, 135);
    border-width: 6px;
    border-style: solid;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    font-family: Zen-Maru-Gothic;
}

.title {
    font-size: 32px;
}

.author {

}

.num-pages {

}

.read {
    justify-content: flex-end;
}

#form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 35vh;
    width: 25vw;
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
}