@font-face {
    font-family: Zen-Maru-Gothic;
    src: url(./Assets/Zen_Maru_Gothic/ZenMaruGothic-Regular.ttf);
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#dim {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: rgb(180, 180, 180);
    font-family: Zen-Maru-Gothic;
    padding: 0;
    transition: 1s;
    filter: blur(0px);
}

#dim.active {
    filter: blur(5px);
    transition: 0.5s;
    pointer-events: none;
    user-select: none;
}

.active {
    background: rgb(0, 0, 0);
    opacity: 0.75;
    filter: Alpha(Opacity=50);
}

header {
    display: flex;
    font-size: 36px;
    background-color: rgb(56, 62, 133);
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0.6em 2em 0.6em 0.6em;
}

#book-button {
    font-family: Zen-Maru-Gothic;
    background-color:rgb(56, 62, 133);
    border-color: white;
    border-width: 5px;
    border-style:solid;
    border-radius: 1em;
    padding: 1em;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 14px;
}

#book-button:hover {
    background-color: rgb(76, 81, 132);
}

footer {
    background-color: rgb(56, 62, 133);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

footer p {
    color: white;
}

footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

footer a:hover {
    color: rgb(87, 115, 166);
}

#grid-area {
    display: grid;
    grid-auto-flow: row;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.1fr));
    padding: 4em 1em 1em 2.4em;
}


.card {
    background-color: white;
    height: 300px;
    border-color: rgb(71, 77, 135);
    border-width: 6px;
    border-style: solid;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    font-family: Zen-Maru-Gothic;
    transition: 0.5s;
}

.title {
    font-size: 32px;
    text-align: center;
}

.author {

}

.num-pages {

}

.read {
    justify-content: flex-end;
}

#form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 475px;
    width: 330px;
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    border-color: rgb(71, 77, 135);
    max-width: 350px;
    border-width: 6px;
    border-style: solid;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

#form.active {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

label {
    color: rgb(71, 77, 135);
    font-weight: 600;
    display: block;
    font-size: 0.7em;
    letter-spacing: 0.2em;
}

#form-title {
    font-size: 1.5em;
    padding: 10px;
}

input {
    padding: 0.3em;
    margin-top: 0.3em;
    font-family: inherit;
    font-size: 1em;
    width: 15em;
}

input:focus {
    outline-color: rgb(71, 77, 135);
}

select {
    padding: 0.3em;
    margin-top: 0.3em;
    font-family: inherit;
    font-size: 1em;
    width: 16em;
}

select:focus {
    outline-color: rgb(71, 77, 135);
}

.form-buttons {
    width: 130px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 7px;
    font-family: Zen-Maru-Gothic;
    background-color:rgb(71, 77, 135);
    border-color: white;
    border-width: 5px;
    border-style:solid;
    border-radius: 1em;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 14px;
}

.form-buttons:hover {
    opacity: 0.8;
}

#cancel {
    background-color: rgb(249, 77, 77);
}
